# Игнорируем файлы и папки, которые начинаются с точки
.*

# Игнорируем файлы, созданные IDE и редакторами кода
.vscode/
.idea/

# Игнорируем папку с зависимостями Node.js
node_modules/

# Игнорируем временные и бинарные файлы
*.log
*.bak
*.exe

# Игнорируем файлы, которые часто меняются, но не должны попадать в репозиторий
config.json
secrets.txt